In [5]:
몫 = 23//5
나머지 = 23%5

몫,나머지

(4, 3)

In [6]:
0xFF

255

In [4]:
0o33

27

In [8]:
date = '2007-03-27'

In [15]:
a = date[0:4]

In [16]:
b = date[5:7]

In [17]:
c = date[8:]

In [21]:
a + ' '+ b +' '+ c

'2007 03 27'

format 함수 이용 
- 여백 및 정렬

앞뒤로 공백 넣기

In [23]:
s = 'python'

In [26]:
'{0:^10}'.format(s)

'  python  '

In [41]:
s = 'Life is too short, You need Python'
idx = s.index('short')
print(idx)
s.find(' ',idx)

print(s[:idx]) # 
print(s[idx+1:])

12
Life is too
hort, You need Python

s = 'Eighty percent of $ucce$$ i $ $howing up.'
s.replace('$','s')

In [47]:
 list = [ 'a', [ [ 'Life', 'is', 'too', 'short' ]],2 ]

In [48]:
list[1]

[['Life', 'is', 'too', 'short']]

In [50]:
list[1][0]

['Life', 'is', 'too', 'short']

In [51]:
list[1][0][3]

'short'

In [57]:
list = [1,2,3,4,5]
#4번째 요소 삭제
list[3:4] = []
list

[1, 2, 3, 5]

In [96]:
season = ['봄', '여름', '가을', '겨울']
color = ['RED', 'GREEN', 'BLUE']

fall = season[2]
green = color[1]

data = '{} + {}'.format(fall,green)
print(data)

print(fall + ' '+ '+' + ' '+ green)

가을 + GREEN
가을 + GREEN

In [97]:
person = [
 'ggoreb',
 20,
 ['서울', '관악구', '신림동'],
 ['대전', '서구', '둔산동']
]

ggo = person[0]
shin = person[2][2]
dun = person[3][2]
twenty = person[1]

sum = '['+ggo+']'+shin+'/'+dun
print(sum)


sum2 = ggo + ' '+ str(twenty)
print(sum2)

sum3 = '[{}]{}/{}'.format(ggo,shin,dun)
print(sum3)

sum4 = '{} {}'.format(ggo,twenty)
print(sum4)

[ggoreb]신림동/둔산동
ggoreb 20
[ggoreb]신림동/둔산동
ggoreb 20

In [107]:
list = ['열혈강호','용비불패']
list.insert(1,'고수')

list.remove('고수')

In [108]:
dict = { 'a' : 1, 'b' : 2, 'c' : 3 }
dict

{'a': 1, 'b': 2, 'c': 3}

In [113]:
dict['가'] = '파이썬'

In [114]:
dict

{'a': 1, 'b': 2, 'c': 3, '가': '파이썬'}

In [3]:
dict = { 'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5 }

In [4]:
t_list = dict.items()
t_list #이것도 리스트 아님.

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])

In [6]:
t_list = list(t_list)
t_list

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [119]:
dict.keys() #아직 리스트 형식 아님. 리스트로 감싸야함.

dict_keys(['a', 'b', 'c', 'd', 'e'])

In [2]:
list2=list(dict.keys())
list2

['a', 'b', 'c', 'd', 'e']

In [36]:
key = ['서울','대전','부산','광주','제주']
value = ['02', '042','051','062','064']


number =dict(zip(key,value))
        
#number = {'서울': '02', '대전': '042', '부산': '051', '광주':'062', '제주': '064'}
number

{'서울': '02', '대전': '042', '부산': '051', '광주': '062', '제주': '064'}

In [18]:
key_number = number.keys()
list_key_number = list(key_number)
list_key_number

['서울', '대전', '부산', '광주', '제주']

In [15]:
value_number = number.values()
list_value_number = list(value_number)
list_value_number

['02', '042', '051', '062', '064']

In [14]:
item_number = number.items()
list_item_number = list(item_number)
list_item_number

[('서울', '02'), ('대전', '042'), ('부산', '051'), ('광주', '062'), ('제주', '064')]

In [16]:
busan = number.get('부산')
busan

'051'

In [8]:
is_exist = '천안' in number
is_exist

False

In [11]:
score = 60
if score >=60:
    print('통과')
else: 
    print('불합격')

통과

In [21]:
workingTime = 7 # 근무시간
# 코드 작성
# workingTime 이 8 이상이면 퇴근
# workingTime 이 8 미만이면 계속 근무

if workingTime >= 8 :
    print("퇴근")
else:
    print("계속 근무")

계속 근무

In [37]:
score = 70 # 시험점수
# 코드 작성

if score >= 90:
    print("A학점")
elif score >= 70:
    print("B학점")
else:
    print("F학점")

B학점

In [26]:
cardList = ['우리카드', '신한카드', 'KB카드']
# 코드 작성

# if '하나카드' in cardList:
#     print("10% 할인 후 결제")
# else:
#     print("그냥 결제")
    
    
    
    
if '하나카드' not in cardList:
    print("그냥 결제")
else:
    print("10% 할인 후 결제")

그냥 결제