In [5]:
몫 = 23//5
나머지 = 23%5

몫,나머지

(4, 3)

In [6]:
0xFF

255

In [4]:
0o33

27

In [8]:
date = '2007-03-27'

In [15]:
a = date[0:4]

In [16]:
b = date[5:7]

In [17]:
c = date[8:]

In [21]:
a + ' '+ b +' '+ c

'2007 03 27'

format 함수 이용 
- 여백 및 정렬

앞뒤로 공백 넣기

In [23]:
s = 'python'

In [26]:
'{0:^10}'.format(s)

'  python  '

In [41]:
s = 'Life is too short, You need Python'
idx = s.index('short')
print(idx)
s.find(' ',idx)

print(s[:idx]) # 
print(s[idx+1:])

12
Life is too
hort, You need Python

s = 'Eighty percent of $ucce$$ i $ $howing up.'
s.replace('$','s')

In [47]:
 list = [ 'a', [ [ 'Life', 'is', 'too', 'short' ]],2 ]

In [48]:
list[1]

[['Life', 'is', 'too', 'short']]

In [50]:
list[1][0]

['Life', 'is', 'too', 'short']

In [51]:
list[1][0][3]

'short'

In [57]:
list = [1,2,3,4,5]
#4번째 요소 삭제
list[3:4] = []
list

[1, 2, 3, 5]

In [96]:
season = ['봄', '여름', '가을', '겨울']
color = ['RED', 'GREEN', 'BLUE']

fall = season[2]
green = color[1]

data = '{} + {}'.format(fall,green)
print(data)

print(fall + ' '+ '+' + ' '+ green)

가을 + GREEN
가을 + GREEN

In [97]:
person = [
 'ggoreb',
 20,
 ['서울', '관악구', '신림동'],
 ['대전', '서구', '둔산동']
]

ggo = person[0]
shin = person[2][2]
dun = person[3][2]
twenty = person[1]

sum = '['+ggo+']'+shin+'/'+dun
print(sum)


sum2 = ggo + ' '+ str(twenty)
print(sum2)

sum3 = '[{}]{}/{}'.format(ggo,shin,dun)
print(sum3)

sum4 = '{} {}'.format(ggo,twenty)
print(sum4)

[ggoreb]신림동/둔산동
ggoreb 20
[ggoreb]신림동/둔산동
ggoreb 20

In [107]:
list = ['열혈강호','용비불패']
list.insert(1,'고수')

list.remove('고수')

In [108]:
dict = { 'a' : 1, 'b' : 2, 'c' : 3 }
dict

{'a': 1, 'b': 2, 'c': 3}

In [113]:
dict['가'] = '파이썬'

In [114]:
dict

{'a': 1, 'b': 2, 'c': 3, '가': '파이썬'}

In [3]:
dict = { 'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5 }

In [4]:
t_list = dict.items()
t_list #이것도 리스트 아님.

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])

In [6]:
t_list = list(t_list)
t_list

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [119]:
dict.keys() #아직 리스트 형식 아님. 리스트로 감싸야함.

dict_keys(['a', 'b', 'c', 'd', 'e'])

In [2]:
list2=list(dict.keys())
list2

['a', 'b', 'c', 'd', 'e']

In [36]:
key = ['서울','대전','부산','광주','제주']
value = ['02', '042','051','062','064']


number =dict(zip(key,value))
        
#number = {'서울': '02', '대전': '042', '부산': '051', '광주':'062', '제주': '064'}
number

{'서울': '02', '대전': '042', '부산': '051', '광주': '062', '제주': '064'}

In [18]:
key_number = number.keys()
list_key_number = list(key_number)
list_key_number

['서울', '대전', '부산', '광주', '제주']

In [15]:
value_number = number.values()
list_value_number = list(value_number)
list_value_number

['02', '042', '051', '062', '064']

In [14]:
item_number = number.items()
list_item_number = list(item_number)
list_item_number

[('서울', '02'), ('대전', '042'), ('부산', '051'), ('광주', '062'), ('제주', '064')]

In [16]:
busan = number.get('부산')
busan

'051'

In [8]:
is_exist = '천안' in number
is_exist

False

In [11]:
score = 60
if score >=60:
    print('통과')
else: 
    print('불합격')

통과

In [21]:
workingTime = 7 # 근무시간
# 코드 작성
# workingTime 이 8 이상이면 퇴근
# workingTime 이 8 미만이면 계속 근무

if workingTime >= 8 :
    print("퇴근")
else:
    print("계속 근무")

계속 근무

In [37]:
score = 70 # 시험점수
# 코드 작성

if score >= 90:
    print("A학점")
elif score >= 70:
    print("B학점")
else:
    print("F학점")

B학점

In [26]:
cardList = ['우리카드', '신한카드', 'KB카드']
# 코드 작성

# if '하나카드' in cardList:
#     print("10% 할인 후 결제")
# else:
#     print("그냥 결제")
    
    
    
    
if '하나카드' not in cardList:
    print("그냥 결제")
else:
    print("10% 할인 후 결제")

그냥 결제

In [5]:
subjectList = ['운영체제', '데이터베이스', '객체지향언어'] # 수강한 과목 리스트
average = 60 # 평점
# 코드 작성
# 리스트 요소의 개수를 확인할 때 len() 함수 사용, ex) len(subjectList)
if len(subjectList)>=3 and average>=70:
    print("학위취득")
elif len(subjectList)>=3 or average>=70:
    print("졸업")
else :
    print("재수강")

졸업

In [8]:
subject = {'자료구조' : 80, '알고리즘' : 60, '네트워크' : 90}
if '자료구조' in subject :
#     s = subject['자료구조']
#     if s >=60:
#         print('이수완료')
        
    if subject.get('자료구조')>=60:
        print('이수완료')

이수완료

In [7]:
num = 122

if num % 2 == 0:
    print('짝수')
else :
    print('홀수')

짝수

In [10]:
count = 0
while count < 10:
     count = count + 1
     print('%d번 반복' % count)
print('%d번 반복 후 종료' % count)

1번 반복
2번 반복
3번 반복
4번 반복
5번 반복
6번 반복
7번 반복
8번 반복
9번 반복
10번 반복
10번 반복 후 종료

In [15]:
import random

while True : #while 의 무한반복
    num = random.randint(1, 3)
    print('%d' %num)
    if num == 2: break

3
3
2

In [24]:
num = 1
total = 0

while num <= 1000:
    if num % 3 ==0:
        total = total + num
    num = num + 1

print(total)

166833

In [68]:
#각 학생들의 점수를 표현한 리스트를 이용하여 50점 이상인 학생의 점수 합 구하기
scoreList = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

total = 0
# 코드 작성 - List pop() 함수 이용
while True :
    a = scoreList.pop()
    if a > 50 :
        total = total + a 
    if len(scoreList) ==0 :
        break
    
    
print(total)

481

In [71]:
#각 학생들의 점수를 표현한 딕셔너리를 이용하여 80점 이상인 학생의 점수 합 구하기
studentInfo = {
 'a':33, 'b':55, 'c':67, 'd':82, 'e':45,
 'f':33, 'g':90, 'h':87, 'i': 100, 'j':25
}
total = 0
# 코드 작성 - Dictionary values(), List pop() 등 이용

b = studentInfo.values() 
list_b=list(b)

#list_b
while True:
    c = list_b.pop()
    if c >= 80 :
        total = total + c 
    if len(list_b) ==0 :
        break
    
    
print(total)
    


#print(total)

359

In [82]:
import random # random 모듈 import

# 코드 작성

while True :
    a = random.randint(1, 6)
    b = random.randint(1, 6)
    print('{} / {}'.format(a,b))
    if a == b :
        print('두 눈이 같으므로 종료')
        break

4 / 2
5 / 2
2 / 2
두 눈이 같으므로 종료

In [87]:
import random
lottoList = list() # 빈 List 생성

while len(lottoList) <= 6:

    l = random.randint(1, 45)

    if l not in lottoList:
        
        lottoList.append(l)
print(lottoList)

[9, 25, 5, 13, 43, 37, 23]

In [96]:
i = 1 # '*' 개수

# 코드 작성
while i <= 5 : 
    print('*' *i)  # 문자열 * 숫자 기능 이용
    i = i +1

*
**
***
****
*****

In [100]:
i = 1
space = 0
while i <= 5:
    space = 5 - i
    print(' ' * space, end= '')
    print('*' * i)
    i +=i

    *
   **
 ****

In [107]:
for i in range(10,0,-2):
    print(i,end=' ')

10 8 6 4 2

In [108]:
for idx in reversed(range(0, 10)):
 print(idx + 1, '번째 반복')

10 번째 반복
9 번째 반복
8 번째 반복
7 번째 반복
6 번째 반복
5 번째 반복
4 번째 반복
3 번째 반복
2 번째 반복
1 번째 반복

In [110]:
for a in range(2, 6):
 for b in range(1, 10):
     print(a, '*', b, '=', (a * b))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [112]:
data = list(range(1,101))
result = [x for x in data if x % 17 ==0]
result

[17, 34, 51, 68, 85]

In [113]:
result = [x * y for x in range(2, 3) for y in range(1, 10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [175]:
count = 0

for a in range(1,101):
    b = str(a)
    if  '3' in b  :
        count = count + 1
        print(b)
print('개수 : %d' %count)

3
13
23
30
31
32
33
34
35
36
37
38
39
43
53
63
73
83
93
개수 : 19

In [191]:
# 아래와 같은 리스트가 있을 때 각 요소가 3의 배수인지 확인하여 삭제하는 코드 작성
list = [10, 20, 30, 40, 50, 60, 70]



# for d in list :
#     if d % 3 == 0:
#         list.remove(d)

# print(list)


for i in reversed(range(len(list))): #0,1,2 순서로 가게 됨. 
    if list[i] % 3 ==0 :
        list.pop(i)
print(list)

[10, 20, 40, 50, 70]